 #icoder:hover{
color: blue;
 }
 #home:hover{
    color: blue;
     }#about:hover{
        color: blue;
         }#contact:hover{
            color: blue;
             }
             .cart:hover{
                color: blue;
                 }